In [1]:
import pandas

In [4]:
i = "2015-01"
path = "data_fhv/fhv_" + i + ".csv"
fhv = pandas.read_csv(path)

print(fhv.shape)
fhv.head()

(2746033, 3)

  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
2               B00013  2015-01-01 01:23:00         NaN
3               B00013  2015-01-01 01:44:00         NaN
4               B00013  2015-01-01 02:00:00         NaN

In [8]:
ticket = pandas.read_csv("Parking_Violations_Issued_-_Fiscal_Year_2019.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (17,18,20,22,23,26,27,29,30,31,32,36,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
print(ticket.shape)
ticket.head()

(6945028, 43)

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,1105232165,GLS6001,NY,PAS,07/03/2018,14,SDN,HONDA,X,47130,...,BLUE,0.0,2006,-,0,NaN,NaN,NaN,NaN,NaN
1,1121274900,HXM7361,NY,PAS,06/28/2018,46,SDN,NISSA,X,28990,...,GRY,0.0,2017,-,0,NaN,NaN,NaN,NaN,NaN
2,1130964875,GTR7949,NY,PAS,06/08/2018,24,SUBN,JEEP,X,64,...,GREEN,0.0,0,-,0,NaN,NaN,NaN,NaN,NaN
3,1130964887,HH1842,NC,PAS,06/07/2018,24,P-U,FORD,X,11310,...,WHITE,0.0,0,-,0,NaN,NaN,NaN,NaN,NaN
4,1131599342,HDG7076,NY,PAS,06/29/2018,17,SUBN,HYUND,X,47130,...,GREEN,0.0,2007,-,0,NaN,NaN,NaN,NaN,NaN

In [12]:
ticket.columns

Index(['Summons Number', 'Plate ID', 'Registration State', 'Plate Type',
       'Issue Date', 'Violation Code', 'Vehicle Body Type', 'Vehicle Make',
       'Issuing Agency', 'Street Code1', 'Street Code2', 'Street Code3',
       'Vehicle Expiration Date', 'Violation Location', 'Violation Precinct',
       'Issuer Precinct', 'Issuer Code', 'Issuer Command', 'Issuer Squad',
       'Violation Time', 'Time First Observed', 'Violation County',
       'Violation In Front Of Or Opposite', 'House Number', 'Street Name',
       'Intersecting Street', 'Date First Observed', 'Law Section',
       'Sub Division', 'Violation Legal Code', 'Days Parking In Effect    ',
       'From Hours In Effect', 'To Hours In Effect', 'Vehicle Color',
       'Unregistered Vehicle?', 'Vehicle Year', 'Meter Number',
       'Feet From Curb', 'Violation Post Code', 'Violation Description',
       'No Standing or Stopping Violation', 'Hydrant Violation',
       'Double Parking Violation'],
      dtype='object')

In [11]:
ticket.columns.shape

(43,)